.map-type .btn-icon {
	margin-bottom: -4px;
	height: 18px;
	width: 18px;
	fill: #444;
}

/* Align labels for Leaflet Control */
.map-type .base-layer-label {
	vertical-align: middle;
}

.map-type .overlay-label {
	font-weight: normal;
	vertical-align: middle;
}

.map-type .leaflet-control-layers-list .icheckbox_square-blue,
.map-type .leaflet-control-layers-list .iradio_square-blue {
	margin: 1px 1px;
}

/* Modal window styling */
.map-type .modal-header {
	background-color: #f9f9f9;
	text-align: center;
	padding:35px 50px;
}

.map-type .modal-header .close {
	font-size: 50px;
}

.map-type .modal-header h4 {
	font-size: 30px;
	color: white;
}

.map-type .modal-header h4.default {
	color: #444;
}

.map-type .modal .modal-header h4 span {
	float: left;
}

.map-type .modal-body {
	padding:40px 50px;
	color: #000;
}

.map-type .modal-footer {
	background-color: #f9f9f9;
}

/* Initially hide all messages */
.map-type .modal-body .message {
	display: none;
}

/* Display only a single header text */
.map-type .modal .modal-header-text:not(.default) {
	display: none;
}
.map-type .modal.security .modal-header-text.security,
.map-type .modal.error .modal-header-text.error,
.map-type .modal.warning .modal-header-text.warning,
.map-type .modal.alert .modal-header-text.alert,
.map-type .modal.success .modal-header-text.success {
	display: block;
}
.map-type .modal.security .modal-header-text.default,
.map-type .modal.error .modal-header-text.default,
.map-type .modal.warning .modal-header-text.default,
.map-type .modal.alert .modal-header-text.default,
.map-type .modal.success .modal-header-text.default {
	display: none;
}

/* Header color */
.map-type .modal.success .modal-header {
	background-color: #5cb85c;
}

.map-type .modal .modal-header h4 span.glyphicon {
	font-size: 38px;
	font-weight: 400;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	float: left;
	padding-right: 11px;
}

.map-type .modal.security .modal-header,
.map-type .modal.warning .modal-header {
	background-color: #f0ad4e;
}

.map-type .modal.danger .modal-header {
	background-color: #d9534f;
}
